/*
 * Write your custom CSS here
 */

.profile-section {
	display: flex;
	gap: 50px;
}

img.profile {
	border-radius: 50%;
}

#name{
	background-color: lightblue;
	border:2px solid black;
	padding: 30px;
}